{% extends 'layout.html' %}



{% block body  %}
<form method='POST' action="/signUpPlayer" ] >
  
    <div class="signUpBox">
        <h4 class="center-title">Fill out the details of your character:</h4>
        <br><br>

            <div class="fillBox">
                <label for="Character Name">Character Name</label>
                <input type="text" class="form-control"  placeholder="Character Name" name="charName" value="" required>
                <div class="invalid-feedback">
                    Valid Character Name is required.
                </div>
            </div>

            <div class="fillBox">
                <label for="charlvl">Level</label>
                <input type="number" class="form-control" min="0" max="20" placeholder="Level" name="lvl" value="" required>
                <div class="invalid-feedback">
                    A valid Level value is required
                </div>
            </div>
        

    
            <div class="fillBox">
                <label for="Class">Class</label>
                <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" placeholder="Class" name="class" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your Class is required.
                </div>
                </div>
            </div>
        
    
            <div class="fillBox">
                <label for="Sub-Class">Sub-Class</label>
                <input type="text" class="form-control"  placeholder="Sub-Class" name="subClass" required>
                <div class="invalid-feedback">
                    Your Sub-Class is required.
                </div>
            </div>

            <div class="fillBox">
                <label for="HP">HP</label>
                <input type="number" class="form-control"  min="1" max="1000" placeholder="HP" name="hp">
                <div class="invalid-feedback">
                    A valid HP value is required.
                </div>
            </div>
    

            
            
            <br><br>
            <div class="fillBox">      
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </div>
    </div>   
</form> 

{% endblock %}